
<p>Hello</p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if params[:action] == "index" %>
      <h1 class="text-center">
        All Movies
      </h1>
    <% elsif params[:action] == "showing_now" %>
      <h1 class="text-center">
        Showing Now
      </h1>
    <% else %>
      <h1 class="text-center">
        Coming Soon
      </h1>
    <% end %>
  </div>
</div>

<div class="container text-center">

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Sort By</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Movie Name</a>
      <a href="#">Popular</a>
      <a href="#">Latest Release</a>
    </div>
  </div>

  <div class="row">
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 1</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 2</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 3</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 4</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 5</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 6</p>
      </div>
    </a>
    <a href="#">
      <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Movie 7</p>
      </div>
    </a>
  </div>
</div>

<%= link_to 'New Movie', new_admin_movie_path %>
<%= link_to 'Back', root_path %>
