<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if params[:action] == "index" %>
      <h1 class="text-center">
        All Movies
      </h1>
    <% elsif params[:action] == "showing_now" %>
      <h1 class="text-center">
        Now Showing
      </h1>
    <% else %>
      <h1 class="text-center">
        Coming Soon
      </h1>
    <% end %>
  </div>
</div>

<div class="container text-left">

<!-- dropdown menu -->
<hr style="margin:10px 10px 10px 10px">


<hr style="visibility:hidden">

<!-- movies -->
<div class="container">
  <% @movies.each_with_index do |movie, index| %>
    <a href="/movies/<%= movie.id %>">
      <div class="col-sm-4">
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        <%= image_tag movie.photos, class: "img-responsive", style: "width: 100%" %> 
        <p><%=movie.title%></p>
      </div>
    </a>
  <%end%>
</div>

  <%= link_to 'New Movie', new_admin_movie_path %>
