<h1 class="text-center">
  Now Showing
</h1>

<div class="container text-center">

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Sort By</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Movie Name</a>
      <a href="#">Popular</a>
      <a href="#">Latest Release</a>
    </div>
  </div>


<div class="container">
  <% @movies.each_with_index do |movie, index| %>
    <a href="/movies/<%= movie.id %>">
      <div class="col-sm-4">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
        <p><%=movie.title%></p>
      </div>
    </a>
  <%end%>
</div>
