<p> welcome page </p>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :q, nil %>
  <%= text_field_tag :v, nil %>
  <%= submit_tag "Search", :class => "btn btn-primary" %>
<% end %>


<div class="row">
  <div class="col-md-12">

        <div id="map"></div>
        <div id="lat"></div>
        <div id="long"></div>

  </div>
</div>
