<div class="row">
  <div class-"col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    <h1 class="text-center">
      Edit Your Cinema
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
    <%= form_for @cinema do |form| %>
      <%= render partial: 'form', object: form %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 text-center">
    <%= link_to "Delete Cinema", edit_cinema_path(@cinema), method: :delete, data: {confirmation: "Are you sure?"}, class: "btn btn-danger" %>
  </div>
</div>

<%= link_to 'Back', root_path %>
